{{define "button"}}
<section class="section section-button" style="text-align:center">
  <div class="container">
    <a href="{{.Props.url}}" class="btn btn-primary" style="background:{{.Props.color}};">{{.Props.label}}</a>
  </div>
</section>
{{end}}
