{{define "divider"}}
<section class="section section-divider">
  <div class="container">
    <hr style="border-color:{{.Props.color}};border-width:{{.Props.thickness}}px;margin:{{.Props.spacing}}px 0">
  </div>
</section>
{{end}}
