{{define "image"}}
<section class="section section-image">
  <div class="container" style="text-align:{{.Props.align}}">
    <img src="{{.Props.src}}" alt="{{.Props.alt}}" style="max-width:{{.Props.max_width}}">
  </div>
</section>
{{end}}
