{{define "text"}}
<section class="section section-text" style="background:{{.Props.background}};color:{{.Props.text_color}}">
  <div class="container">
    <p>{{.Props.content}}</p>
  </div>
</section>
{{end}}
